<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <table class="example-full-width" cellspacing="0">
    <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-select [(ngModel)]="serviceID" formControlName="ServiceID" (ngModelChange)="onServiceSelection(serviceID)" name="service">Select Service
          <mat-option *ngFor="let service of services" value="{{service.id}}">{{service.ServiceName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Date of Appointment</mat-label>
      <input matInput formControlName="AppointmentDate" [matDatepicker]="picker" (dateInput)="inputEvent($event)" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-select [(ngModel)]="serviceProviderID" formControlName="ServiceProviderID" (ngModelChange)="onServiceProviderSelection(serviceProviderID)" name="serviceProvider">Select Service Provider
          <mat-option *ngFor="let serviceProvider of serviceProviders" value="{{serviceProvider.id}}">{{serviceProvider.FirstName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <a mat-button type="submit" (click)="onSubmit()">Submit</a>
    </td>
  </tr>
  </table>
</form>
