<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="FirstName" ngModel placeholder="First Name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="LastName" ngModel placeholder="Last Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" name="Age" ngModel placeholder="Age" min="10" max="100" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="Email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="UsrPwd" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <!-- <mat-form-field>
      <input matInput type="number" name="UsrRole" ngModel matInput placeholder="Role" required>
    </mat-form-field> -->
    <mat-form-field appearance="fill" name="UsrRole" ngModel>
      <mat-label>Select me</mat-label>
      <mat-select>
        <mat-option value="Service Provider">Service Provider</mat-option>
        <mat-option value="Customer">Customer</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Signup</button>
  </form>
</mat-card>

