<mat-form-field class="filter">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div style="overflow-x:auto;">
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="AppUserID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>
    <td mat-cell *matCellDef="let element"> {{element.AppUserID}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="ServiceProviderID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Provider ID </th>
    <td mat-cell *matCellDef="let element"> {{element.ServiceProviderID}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="AppointmentDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Date </th>
    <td mat-cell *matCellDef="let element"> {{element.AppointmentDate}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
  </ng-container>

  <ng-container matColumnDef="PaymentMode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Mode </th>
    <td mat-cell *matCellDef="let element"> {{element.PaymentMode}} </td>
  </ng-container>

  <ng-container matColumnDef="TotalCost">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Cost </th>
    <td mat-cell *matCellDef="let element"> {{element.TotalCost}} </td>
  </ng-container>

  <ng-container matColumnDef="IsPaid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> IsPaid </th>
    <ng-container *matCellDef="let element">
      <td mat-cell *ngIf="element.IsPaid == true"> Payment Successful </td>
      <td mat-cell *ngIf="element.IsPaid == false"> Payment Unsuccessful </td>
    </ng-container>
  </ng-container>

  <!-- <ng-container matColumnDef="Deactivate">
    <th mat-header-cell *matHeaderCellDef> Activate/Deactivate </th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="warn" (click)="deactivate(element.id)"> Activate/Deactivate </a>
    </td>
  </ng-container> -->

 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<mat-paginator [length]="totalAppointments" [pageSize]="appointmentsPerPage" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onChangedPage($event)"></mat-paginator>

