table {
  width: 90%;
  margin: auto;
}

.mat-paginator {
  width: 90%;
  margin: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 88%;
  margin-top: 4%;
  margin-left: 5%;
  background-color: white;
  padding: 1%;
}
